.slider-nav-thumbnails .slick-slide {
  opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
  opacity: 1;
  background: green;
}

.content {
  font-size: 18px;
  padding: 20px;
  text-align:center;
  color: white;
}

.two, .three, .four, .five {
  display:none;
}