@{
    ViewBag.Title = "خبر";
}
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/Assets/images/background/4.jpg)">
        <div class="auto-container">
            <h1>جزئیات خبر</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">خانه</a></li>
                <li>اخبار</li>
                <li>جزئیات خبر</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!--Login Section-->
    <section class="news-article">
        <div class="auto-container">
            <div class="row clearfix">
                <h2 class="gold">برایت هوس</h2>
                <img src="/Assets/images/area-guide/3.jpg" alt="news-image" class="news-article-image">
                <h4 class="gold">
                    برایت هوس
                </h4>
                <p>
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                </p>
                <img src="/Assets/images/area-guide/3.jpg" alt="small-post-image" class="small-news-image">
                <p>
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                </p>
                <div class="col-md-12">
                    <h2 class="gold mt-5 mb-2">اخبار ترکیه</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Login Section-->
</div>
<!-- End Page Wrapper -->
