
@model List<SpadCompanyPanel.Infrastructure.Dtos.News.NewsDto>
@{
    ViewBag.Title = "اخبار";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/Content/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>اخبار ترکیه</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">خانه</a></li>
            <li>اخبار ترکیه</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Login Section-->

<section>
    <div class="auto-container p-0">
        <div class="news">
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2 class="gold mt-5 mb-2">اخبار ترکیه</h2>
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="text-center">
                                    <a href="/NewsDetail/@item.Id">

                                        <div class="article-news-image" style="background: url('/Files/NewsImages/Image/@item.Image'); background-size:cover; background-position:center;">

                                        </div>
                                        <p class="article-news-title">
                                            @Html.Raw(item.Title)
                                        </p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    @*<div class="news-pagination">
                        <nav aria-label="Page navigation example" dir="ltr">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

</section>

<!--End Login Section-->
