@{
    ViewBag.Title = "اخبار";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>اخبار ترکیه</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">خانه</a></li>
            <li>اخبار ترکیه</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Login Section-->

<section>
    <div class="auto-container p-0">
        <div class="news">
            <div class="row clearfix">
                <div class="col-md-9">
                    <h2 class="title">اخبار ترکیه</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-post-image">

                            </div>
                            <div class="news-title">
                                <h4 class="text-right">
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h4>
                                <div class="news-time">
                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>
                                <p class="top-post-txt">
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/bg.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/3.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/bg.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/3.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/bg.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="news-image">
                                <img src="/Assets/images/area-guide/3.jpg" alt="" class="small-post-image">
                            </div>
                            <div class="news-title">
                                <h6>
                                    برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                </h6>
                                <div class="news-time">

                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                    <span>
                                        1399/12/08
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="news-search-box">
                        <div class="input-group mb-3">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 article-category-part">
                    <div class="article-category">
                        <div class="article-des">
                            <span class="article-title">سفر</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    <div class="article-category">

                        <div class="article-des">
                            <span class="article-title">سرمایه گذاری</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    <div class="article-category">

                        <div class="article-des">
                            <span class="article-title">سلامتی</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    <div class="article-category">

                        <div class="article-des">
                            <span class="article-title">روش</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    <div class="article-category">

                        <div class="article-des">
                            <span class="article-title">فرهنگ</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    <div class="article-category">

                        <div class="article-des">
                            <span class="article-title">دکوراسیون</span>
                            <i class="fa fa-chevron-left article-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <h2 class="gold mt-5 mb-2">اخبار ترکیه</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="text-center">
                                <a href="/NewsDetail">

                                    <div class="article-news-image article-1">

                                    </div>
                                    <p class="article-news-title">
                                        برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه
                                        است
                                    </p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="news-pagination">
                        <nav aria-label="Page navigation example" dir="ltr">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--End Login Section-->
