@model SpadCompanyPanel.Infrastructure.Dtos.News.NewsDetailDto

@{
    ViewBag.Title = "خبر";
}
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/Content/Assets/images/background/4.jpg)">
        <div class="auto-container">
            <h1>جزئیات خبر</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">خانه</a></li>
                <li>اخبار</li>
                <li>جزئیات خبر</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!--Login Section-->
    <section class="news-article">
        <div class="auto-container">
            <div class="row clearfix">
                <h2 class="gold">@Model.Title</h2>
                <img src="~/Files/NewsImages/Image/@Model.Image" alt="news-image" class="news-article-image">
                <p>
                    @Html.Raw(Model.Description)
                </p>


                <div class="col-md-12">
                    <h2 class="gold mt-5 mb-2">آخرین خبرها</h2>
                    <div class="row">

                        @foreach (var item in Model.SimilarNews)
                        {
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="text-center">
                                    <a href="/NewsDetail/@item.Id">
                                        <div class="article-news-image" style="background: url('/Files/NewsImages/Image/@Model.Image'); background-size:cover; background-position:center">

                                        </div>
                                        <p class="article-news-title">
                                            @Html.Raw(item.Title)
                                        </p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Login Section-->
</div>
<!-- End Page Wrapper -->
